. {
    margin: 0;
    padding: 0;
}

.body {
    background-image: url(/hand-painted-watercolor-background-with-sky-clouds-shape.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.container {
    width: 30%;
    margin-top: 10%;
    box-shadow: 0 3px 20px rgba(0,0,0,0,5);
}